.startImg {
    float: left;
  }
  
  .startText{
    float: left;
    margin-top: 20px;
  }
  
  .startText{
    color: red;
  }

  .Button{
    color:red;
    font-size: larger;
    font-weight: 900;
    color: red;
    padding: 10px;
    margin: 10px 20px; 
  }

  .Button:hover{
    transform: scale(1.1);   
  }
  
  .loginButton{
    float: left;
  }

  .registerButton{
    float: left;
  }

  .userImg{
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;    
  }


  .quitImg{
    float: left;
    margin-right: 10px;
    width: 2rem;
    height: 2rem;
  }

  .quitText{
  
  }

  .stopImg{
    float: left;
    margin-right: 10px;
    width: 3rem;
    height: 3rem;
  }

  .stopText{
    margin-top: 10px;
  }