.selectLevel{
    margin-right: 0;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #97a5a7;
    font-size: medium;
    padding-left: 22px;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
  }