.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyImg{
  width:100px;
}

.start{
  font-size: 30px;
  font-weight: 500;
  color: red;
  //font-family: "Press Start 2P";
}

.startImg {
  float: left;
}

.startText{
  float: left;
  margin-top: 20px;
}

.title{
  color: #ff5155;
  margin: 10px;
  font-size: 30px;
  //font-family: "Press Start 2P";
}

.inputName {
    background-color: darkgray;
    outline: 0px solid transparent;
    font-size: medium;
    //font-family: "Press Start 2P";
    width: 350px;
    height: 50px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 80%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectLevel{
  margin-right: 0;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #97a5a7;
  font-size: medium;
  //font-family: "Press Start 2P";
  padding-left: 22px;
  width: 350px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}